body{
    background-image:linear-gradient(rgba(0, 0, 0, 0.6) , rgba(0, 0, 0, 0.5)), url(ogo1.png);
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Lemonada';
 }
 .container{
    grid-template-columns: 1fr; 
    display: grid;
 }
 .header{
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: relative;
   margin: -8px;
   background: #d9d9d9;
   height: 100px;
}
.header img {
 margin-top: 6%;
}
div ul {
 list-style: none;
 width: auto;
 margin: 10px 90px;  
 overflow: auto;
}
div ul li {
 padding: 10px 40px;
}
div ul li:hover{
 border:1px solid #272133;
}
div ul li a {
   text-decoration: none;
   color: #000;
   font-size: 15px;
}
 .box{
   margin-top: -98px;
   margin-left: 40%;
   border-radius: 0;
   padding: 100px 380px 150px 19px;
 }
 .label{
   font-size: 20px;
   margin-left: 46%;
   margin-top: 10%;
   color: #fff;
 }
 .text{
   background:#ccc;
   border: #ccc 1px solid;
   padding: 20px;
   width:200px;
   height: 0px;
   color:black;
   margin-top:-5px;
   font-size:1em;
   border-radius:4px;
 }
 .submit{
  text-align: center;
  font-size:1.3em;
  border-radius:4px;
  margin:15px;
  width:100px;
  border-width: 0px;
  border-style: solid;
  border-color: currentColor;
  margin-left: 22%;
  background: #fff;
}
 .btn{
   background:none;
   padding:5px;
   width:auto;
   height: auto;
   color:#fff;
   font-size:1em;
   border-radius:4px;
   float: left;
   margin-left: 50px;
 }
 .btn:hover{
   border: 1px solid #fff; 
 }
 footer {
   background: rgba(214, 214, 214, 0.918);
   height: 150px;
   width: auto;
   overflow: auto;
   margin: -8px;
}
.nav1 ul li{
   margin-left: 167px;
}
.nav1 li{
   list-style: none;
   display: inline-flex; 
   margin-left: 240px;
}
.nav1 a {
    text-decoration: none; 
    color: #000;
   font-size: 20px;
}
#p1{
   text-align: center;
   font-size: 14px;
   margin: 3px;
}
#p2{
   text-align: center;
   font-size: 11px;
   margin: 2px;
}